<h1>Editing Enrolment Request</h1>

<%= render 'form', enrolment_request: @enrolment_request %>

<%= link_to 'Show', admin_enrolment_requests_path(@enrolment_request) %> |
<%= link_to 'Back', admin_enrolment_requests_path %>
